.clients {
  margin-bottom: 30px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.16;
  }
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: calc(-1 * 30px);
  margin-top: calc(-1 * 30px);
}
.clients-item {
  width: 100%;
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc(100% / 2 - 30px);

  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 3 - 30px);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 6 - 30px);
  }
}
.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;

  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 768px) {
    width: 226px;
  }
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
  &:hover,
  &:focus {
    border: 1px solid $brandColor;
    fill: $brandColor;
  }
}
// .clients-item:not(:last-child) {
//   margin-right: 30px;
// }
