.footer {
  padding: 60px 0;
  background-color: #2f303a;
  text-align: center;
}
.footer__conteiner {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
  }
}
.footer__box {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
  }
}
.footer__logo {
  margin-bottom: 20px;
  display: inline-block;
  color: #fff;
}
.footer__text {
  margin-bottom: 9px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #fff;
}
.footer__item:first-child {
  margin-bottom: 9px;
}
.footer__link {
  display: inline-block;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $brandColor;
  }
}
.footer__socials {
  @media screen and (min-width: 480px) {
    margin-top: 60px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 70px;
  }
}
.socials__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}
.socials__list {
  display: flex;
  justify-content: center;
}
.socials__item:not(:last-child) {
  margin-right: 10px;
}
.socials__link {
  width: 44px;
  height: 44px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #fff;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $brandColor;
  }
}

.footer__subscription {
  margin-top: 60px;
  @media screen and (min-width: 1200px) {
    margin-left: 93px;
    margin-top: 0;
  }
}
.subscription__titel {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
}
.subscription__form {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
  }
}
.subscription__input {
  display: inline-block;
  margin-bottom: 20px;
  padding-left: 16px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);

  @media screen and (min-width: 768px) {
    width: 450px;
  }
  @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
    margin-bottom: 0;
  }
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.subscription__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.subscription__icon {
  margin-left: 10px;
  fill: #fff;
}
