.hero {
  max-width: 480px;
  height: 400px;
  padding: 118px 60px;
  background-image: linear-gradient(rgba(56, 47, 58, 0.4), rgba(56, 47, 58, 0.4)),
    url(../images/icon/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #2f303a;
  text-align: center;

  @media screen and (min-width: 768px) {
    max-width: 768px;
    padding: 118px 204px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
  }
}
.hero--center {
  margin-right: auto;
  margin-left: auto;
}
.hero__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero__btn {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
