.mob-menu_open,
.mob-menu_close {
  display: block;
  background-color: transparent;
  border: none;
  margin-left: auto;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: $brandColor;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mob-menu {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}
.mob-menu_box {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  overflow: scroll;
}
.mob-menu_list {
  margin-top: 8px;
  margin-left: 40px;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}
.mob-menu__link--active {
  color: $brandColor;
}
.mob-menu__contact {
  margin-left: 40px;
  margin-bottom: 64px;
}
.mob-menu__contact-tel {
  display: block;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: $brandColor;
}
.mob-menu__contact-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $secondColor;
}
.mob-menu__soc {
  display: flex;
  flex-wrap: wrap;
  margin-left: 40px;
  margin-bottom: 48px;
}
.mob-menu__soc-item:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  margin-right: 10px;
}
.mob-menu__soc-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $brandColor;
}
