.mob-menu_open,
.mob-menu_close {
  display: block;
  background-color: transparent;
  border: none;
  margin-left: auto;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: $brandColor;
  }
}
.mob_menu {
  position: fixed;
  background-color: #fff;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.mob-menu_icon {
  margin-bottom: 10px;
}
.mob-menu_list {
  margin-top: 8px;
  margin-left: 40px;
  margin-bottom: 306px;
}
.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}
.mob-menu__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}
.mob-menu__link--active {
  color: $brandColor;
}
.mob-menu__contact {
  margin-left: 40px;
  margin-bottom: 64px;
}
.mob-menu__contact-tel {
  display: block;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: $brandColor;
}
.mob-menu__contact-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $secondColor;
}
.mob-menu__soc {
  display: flex;
  margin-left: 40px;
  margin-bottom: 48px;
}
