.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  padding: 40px;
  width: 528px;
  height: 581px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btm {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  fill: #000;

  &:hover,
  &:focus {
    fill: $brandColor;
  }
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}
.modal-text {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
}
.modal-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}
.label-name {
  display: inline-block;
  margin-bottom: 4px;
}
.modal-input {
  position: relative;
  padding-left: 42px;

  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  cursor: pointer;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-label:focus-within & {
    border: 1px solid $brandColor;
    outline: transparent;
  }
}
.input-wrap {
  position: relative;
  margin-bottom: 10px;
}
.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-label:focus-within & {
    fill: $brandColor;
  }
}
.modal-textarea {
  padding: 12px 16px;
  margin-bottom: 20px;
  width: 448px;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
  .modal-label:focus-within & {
    border: 1px solid $brandColor;
    outline: transparent;
  }
}

.modal-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
.checkbox-icon {
  display: inline-block;

  margin-right: 7px;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;

  background-image: url(../images/icon/Vector.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal-check:checked + & {
    background-color: $brandColor;
    border: transparent;
  }
}

.checkbox-text {
  text-decoration: underline;
  color: $brandColor;
}

.modal-button {
  display: block;
  margin-right: auto;
  margin-left: auto;

  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: $brandColor;
  color: #fff;
  border: transparent;
  text-align: center;
  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    background: #188ce8;
  }
}
