.navigation {
  display: flex;
  align-items: center;
}

.navigation__list {
  display: flex;
}

.navigation__item {
  position: relative;
  &:not(:last-child) {
    margin-right: 50px;
  }
}
.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $brandColor;
  }
}

.navigation__link--active {
  color: $brandColor;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 48px;
    width: 100%;
    height: 4px;

    background-color: $brandColor;
    border-radius: 2px;
  }
}
