.header {
  border-bottom: 1px solid #ececec;
  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header__conteiner {
  padding: 10px 15px;
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}
.header__logo {
  margin-right: 88px;
  color: #000;
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.header__contact {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
    margin-left: auto;
  }
  @media screen and (min-width: 1200px) {
    display: flex;
  }
}
.contact-header__item:not(:last-child) {
  margin-bottom: 10px;
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}
.contact-header__icon {
  margin-right: 10px;
  fill: currentColor;
}
.contact-header__link {
  display: flex;
  align-items: center;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: $secondColor;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $brandColor;
  }
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.14;
  }
}
