.box-pro {
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    margin-bottom: 30px;
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
  }
}
.projects-btn {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}
.btn-item:not(:last-child) {
  margin-right: 8px;
  &:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

.btn {
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;

  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $brandColor;
    color: #fff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
  }
}

/* сетка */
.projects-list {
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;

  margin-top: calc(-1 * $cardsedMargin);
  margin-left: calc(-1 * $cardsedMargin);
}
.projects-item {
  flex-basis: calc(100% / 1 - $cardsedMargin);
  margin-top: $cardsedMargin;
  margin-left: $cardsedMargin;
  cursor: pointer;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  @media screen and (min-width: 768px) {
    flex-basis: calc(100% / 2 - $cardsedMargin);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 3 - $cardsedMargin);
  }
}

.projects-overlay {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;

  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .projects-item:hover & {
    transform: translateY(0);
  }
}

.card-box {
  padding: 20px 24px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #eeeeee;
}

.project-h {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.project-text {
  font-size: 16px;
  line-height: 1.88;
  color: $secondColor;
}
