.team {
  background-color: #f5f4fa;
}
.team__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-align: center;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}
.team__list {
  margin-top: calc(-1 * 30px);
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * 30px);
  }
}
.team__item {
  margin-top: 30px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 768px) {
    margin-left: 30px;
    flex-basis: calc(100% / 2 - 30px);
  }
  @media screen and (min-width: 1200px) {
    flex-basis: calc(100% / 4 - 30px);
  }
}
.team__img {
  width: auto;
}

.team-box {
  padding: 30px 0 16px 0;
}
.team-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
}
.team-prof {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: $secondColor;
}
.master-soc-list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 122px 24px 122px;

  @media screen and (min-width: 768px) {
    padding: 0 74px 24px 74px;
  }
  @media screen and (min-width: 1200px) {
    padding: 0 32px 30px 32px;
  }
}
.master-soc-link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: #afb1b8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: #fff;
    background-color: $brandColor;
  }
}

.master-soc-item:not(:last-child) {
  margin-right: 10px;
}
