.work {
  padding-bottom: 94px;
}
.work__title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.work__list {
  display: flex;
}
.work__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 30px;
  }
}
.work__text {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}
